@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap');

.startPageDatePicker, .myDatePicker{
  padding: 7.5px 30.4px;
  text-align:center;
}
@media only screen and (max-width: 350px) {
  .startPageDatePicker, .myDatePicker{
    padding: 0px;
  }
  #app > main > div > div > div.datePickerDiv > div > div:nth-child(2){
    max-width: 80vw;
  }
  #app > main > div > div > div.datePickerDiv > div > div:nth-child(2) > div:nth-child(4) > div.v3dp__body > div.v3dp__elements > button {
    padding: 0px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'mukta';
}
.house_icon{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 10px;
}
.homeText {
  position: absolute;
  left: 5px;
  top: 45px;
}
#app {
    font-family: 'mukta', sans-serif;
    display: flex;
    flex-direction: column;
}
p, h1, h2, h3, h4 {
  font-family: 'mukta', sans-serif;
}
input {
  font-size: 18px;
  text-align:center;
  font-size: 100%; 
  line-height: 160%; 
  border: none; 
  outline: none; 
  border-radius: 7px; 
  padding-inline-start: 10px; 
  background-color: rgb(236, 236, 235); 
  box-shadow: inset 2px 2px 8px rgba(95, 94, 94, 0.692); 
}
.app-main {
  flex-grow: 1;
  background-color: white;
  overflow-x: hidden;
}

@media only screen and (max-width: 500px) {
  #app > main > div > div.startPageDateDiv > div.datePickerDiv > div > div.firstDiv > div > div:nth-child(4) > div.v3dp__body > div.v3dp__elements > button {
    padding: 0px;
  }
  #app > main > div > div.startPageDateDiv > div.datePickerDiv > div > div.firstDiv > div > div:nth-child(4){
    max-width:70vw;
    margin-left:auto;
    margin-right:auto;
  }
  #app > main > div > div.startPageDateDiv > div.datePickerDiv > div > div.secondDiv > div > div:nth-child(4){
    max-width: 70vw;
    margin-left:auto;
    margin-right:auto;
  }

  #app > main > div > div.startPageDateDiv > div.datePickerDiv > div > div.secondDiv > div > div:nth-child(4) > div.v3dp__body > div.v3dp__elements > button{
    padding: 0px;
  }
  #app > main > div > div > div.datePickerDiv > div > div:nth-child(2) > div:nth-child(4){
    max-width: 70vw;
    margin-left:auto;
    margin-right:auto;
  }
  #app > main > div > div > div.datePickerDiv > div > div:nth-child(4) > div:nth-child(4){
    max-width: 70vw;
    margin-left:auto;
    margin-right:auto;
  }
  #app > main > div > div > div:nth-child(1) > div.myDatePickerDiv > div.firstDatePickerDiv > div > div:nth-child(4){
    max-width: 70vw;
    margin-left:auto;
    margin-right:auto;
  }
  #app > main > div > div > div:nth-child(1) > div.myDatePickerDiv > div.firstDatePickerDiv > div > div:nth-child(4) > div.v3dp__body > div.v3dp__elements > button {
    padding: 0px;
  }
  #app > main > div > div > div:nth-child(1) > div.myDatePickerDiv > div.secondDatePickerDiv > div > div:nth-child(4){
    max-width: 70vw;
    margin-left:auto;
    margin-right:auto;
  }
  #app > main > div > div > div:nth-child(1) > div.myDatePickerDiv > div.secondDatePickerDiv > div > div:nth-child(4) > div.v3dp__body > div.v3dp__elements > button {
    padding: 0px;
  }
  #app > main > div > div > div.datePickerDiv > div > div:nth-child(4) > div:nth-child(4) > div.v3dp__body > div.v3dp__elements > button {
    padding: 0px;
  }
}